# ROS 2 workspace folders
build/*
install/*
log/*

# pycache folder from launch
*.pyc

# Uncomment the following to avoid pushing personal configurations
.vscode/

# Created if VS Code containers don't terminate correctly
core

# ignore model weights
*.pt