<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="multi_functional_servo_bracket_with_servo">
    <xacro:property name="servo">
        <mesh filename="package://strawberry_picking_rpi_description/meshes/mg996r_servo.stl" scale="0.001 0.001 0.001"/>
    </xacro:property>
    <xacro:property name="servo_reversed">
        <mesh filename="package://strawberry_picking_rpi_description/meshes/mg996r_servo_reversed.stl" scale="0.001 0.001 0.001"/>
    </xacro:property>

    <xacro:macro name="multi_functional_servo_bracket_with_servo" params="prefix is_reversed:='false' *bracket_origin *joint">
        <link name="${prefix}_multi_functional_servo_bracket_with_servo">
            <inertial>
                <xacro:insert_block name="bracket_origin"/>
                <mass value="0.0"/>
                <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
            </inertial>
            <visual name="">
                <xacro:insert_block name="bracket_origin"/>
                <geometry>
                    <mesh filename="package://strawberry_picking_rpi_description/meshes/multi_functional_servo_bracket.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="aluminum"/> 
            </visual>
            <collision>
                <xacro:insert_block name="bracket_origin"/>
                <geometry>
                    <box size="${multi_functional_servo_bracket_with_servo_x_size} 
                               ${multi_functional_servo_bracket_with_servo_y_size} 
                               ${multi_functional_servo_bracket_with_servo_z_size}"
                    />
                </geometry>
            </collision>
        </link>

        <link name="${prefix}_servo">
            <visual>
                <xacro:insert_block name="bracket_origin"/>
                <geometry>
                    <xacro:if value="${is_reversed == 'true'}">
                        <xacro:insert_block name="servo_reversed"/>
                    </xacro:if>
                    <xacro:if value="${is_reversed == 'false'}">
                        <xacro:insert_block name="servo"/>
                    </xacro:if>
                </geometry>
                <material name="black_plastic"/> 
            </visual>
        </link>

        <joint name="${prefix}_servo_to_${prefix}_multi_functional_servo_bracket_with_servo" type="fixed">
            <parent link="${prefix}_multi_functional_servo_bracket_with_servo"/>
            <child link="${prefix}_servo"/>
        </joint>
        
        <xacro:insert_block name="joint"/>


    </xacro:macro>
</robot>