<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="strawberry_picking_rpi_control">
    <xacro:macro name="controllers">
        <ros2_control name="arm_controller" type="system">
            <hardware>
                <plugin>sprpi_arm_hwi/ArmHardwareInterface</plugin>
                <param name="baud_rate">230400</param>
                <param name="serial_port">/dev/ttyACM0</param>
            </hardware>
            <joint name="DOF_1">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">3.141519</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>
            <joint name="DOF_2">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">3.141519</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>
            <joint name="DOF_3">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">3.141519</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>
            <joint name="DOF_4">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">3.141519</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>
            <joint name="DOF_5">
                <command_interface name="position">
                    <param name="min">0</param>
                    <param name="max">3.141519</param>
                </command_interface>
                <state_interface name="position"/>
            </joint>
            <!-- additional joints ...-->
            <!-- additional hardware/sensors ...-->
        </ros2_control>
    </xacro:macro>
</robot>